.mt-10{
    margin-top: 20px;
}

example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.fxLayout-custom{
    width: 90%;
    height: 90%;
    margin: auto;
}