<div fxLayout="column" class="fxLayout-custom">
    <mat-list>
        <mat-list-item>
            Profile
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    <div class="mt-10" fxLayout="row" fxLayoutGap="20px" fxFlex>
        <mat-card class="example-card" fxFlex="30">
            <mat-card-content>
                <div style="margin: 20px;" px fxLayout="column" fxLayoutAlign="space-between center">
                    <div>
                        <img style="width: 200px; height: 200px; border-radius: 50%;" mat-card-image
                            src="./assets/imgs/logo-angular.png" alt="Photo of a Shiba Inu">
                    </div>
                    <div>
                        <h1>DMM Angular</h1>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="70">
            <mat-card-content>
                <div style="margin: 10px;" fxLayout="column">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div class="layout1" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12">person</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">Full Name:</p>
                            </div>
                        </div>
                        <div class="layout2" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12">cake</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">Birthday
                                </p>
                            </div>
                        </div>
                        <div class="layout2" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12">phone</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">Phone
                                </p>
                            </div>
                        </div>
                        <div class="layout2" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12">email</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">Email
                                </p>
                            </div>
                        </div>
                        <div class="layout2" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12">card_membership</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">IDCard

                                </p>
                            </div>
                        </div>
                        <div class="layout2" fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <mat-icon class="mat-12"> trip_origin</mat-icon>
                            </div>
                            <div>
                                <p style="font-size: 18px; margin-top: 3px;">Gender

                                </p>
                            </div>
                        </div>
                        <div class="example-button-row">
                            <div class="example-flex-container">
                              <div class="example-button-container">
                                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                                  <mat-icon>edit</mat-icon>
                                </button>
                              </div>
                              <div class="example-button-container">
                                <button color="warn" mat-mini-fab  aria-label="Example icon button with a plus one icon">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                              <div class="example-button-container">
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                                  <mat-icon>home</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>