<div
  class="container mt-20"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="5%"></div>
  <div class="item item-2" fxFlex="5%" fxFlexOrder="3"></div>
  <div class="item item-3" fxFlex><mat-toolbar></mat-toolbar></div>
</div>
<div
  class="container mt-20"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="5%"></div>
  <div class="item item-2" fxFlex="5%" fxFlexOrder="3"></div>
  <div class="item item-3" fxFlex>
    <div fxLayout="column" class="fxLayout-custom">
      <mat-list> </mat-list>
      <div class="mt-10" fxLayout="row" fxLayoutGap="20px" fxFlex>
        <mat-card class="example-card" fxFlex="30">
            <mat-card-header>
                <mat-card-title>100,000 </mat-card-title>
                <mat-card-subtitle>Total Project</mat-card-subtitle>
              </mat-card-header>
          <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  </p>
                  <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        [bufferValue]="bufferValue">
                    </mat-progress-bar>
                  </section>
                <mat-card-actions>
                    <button mat-raised-button color="primary" mat-button>Detail</button>
                </mat-card-actions>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card" fxFlex="30">
            <mat-card-header>
                <mat-card-title>50,000</mat-card-title> 
                <mat-card-subtitle>Total Employee</mat-card-subtitle>
              </mat-card-header>
          <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  </p>
                  <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        [bufferValue]="bufferValue">
                    </mat-progress-bar>
                  </section>
                <mat-card-actions>
                    <button mat-raised-button color="primary" mat-button>Detail</button>
                </mat-card-actions>
          </mat-card-content>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
        <mat-card class="example-card" fxFlex="30">
            <mat-card-header>
                <mat-card-title>20,000</mat-card-title> 
                <mat-card-subtitle>Total Products</mat-card-subtitle>
              </mat-card-header>
          <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  </p>
                    <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="value"
                        [bufferValue]="bufferValue">
                    </mat-progress-bar>
                  </section>
                <mat-card-actions>
                    <button mat-raised-button color="primary" mat-button>Detail</button>
                </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <div class="mt-10" fxLayout="row" fxLayoutGap="20px" fxFlex>
        <mat-card class="example-card" fxFlex="30">
          <mat-card-content>
             4
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="30">
            <mat-card-content>
              5
            </mat-card-content>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
        <mat-card class="example-card" fxFlex="30">
          <mat-card-content>
              6
          </mat-card-content>
        </mat-card>
      </div> -->
    </div>
  </div>
</div>


