<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-spinner class="progress-custom" *ngIf="isLoading"></mat-spinner>
      <mat-card>
        <mat-card-content>
          <h2>Employees</h2>
          <div
          class="container mt-20"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0"
        >
          <div class="item item-1" fxFlex="20%">
            <button class="button-custom-add" [routerLink]="['/employee/add']" mat-raised-button color="primary">+ Thêm nhân viên</button> 
          </div>
          <form class="search-form" fxFlex (ngSubmit)="search()" [formGroup]="searchForm">
          <div class="item item-2" fxFlex="80%">
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>Search tên</mat-label>
                <input formControlName="searchName" matInput #input maxlength="10" placeholder="Tuấn">
                <mat-hint align="end"></mat-hint>
              </mat-form-field>
            
              <mat-form-field appearance="fill">
                <mat-label>Bộ phận</mat-label>
                <mat-select formControlName="searchDep">
                  <mat-option value="option">Option1</mat-option>
                  <mat-option value="option">Option2</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Skills</mat-label>
                <mat-select formControlName="searchSkill">
                  <div *ngFor=" let s of skills;">
                    <mat-option [value]="s.skill_id">
                      {{s.name}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
              <button class="button-icon" mat-raised-button color="primary">
                <mat-icon style="font-size: 25px;">search</mat-icon>
            </button>
            </div>
          </div>
        </form>
        </div>
          <table mat-table [dataSource]="dataSource" matSort>
            
             <!-- Position Column -->
             <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.profile_id}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Full name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
              <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Birthday">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
              <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender ? "male" : "female"}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Mã nhân viên">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã nhân viên </th>
              <td mat-cell *matCellDef="let element"> {{element.idCard}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

             <!-- Symbol Column -->
             <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.email}}
                 </td>
            </ng-container>

              <!-- Skill Column -->
              <ng-container matColumnDef="Skill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
                <td mat-cell *matCellDef="let element"> 
                <mat-list role="list" *ngFor="let item of element.profileSkill">
                  <mat-list-item role="listitem" style="text-transform:uppercase">
                    {{item.skill.name}}
                  </mat-list-item>
                </mat-list>
                </td>
              </ng-container>

             <!-- Symbol Column -->
             <ng-container matColumnDef="Bộ phận">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bộ phận </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="Detail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Xem chi tiết </th>
                <td mat-cell *matCellDef="let element"> 
                  <div class="example-button-container">
                    <button class="custom-button" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon (click) = "onLinkDetail(element.profile_id)">description</mat-icon>
                    </button>
                    <button class="custom-button" mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                      <mat-icon (click)="onLinkEdit(element.profile_id)"  >edit</mat-icon>
                    </button>
                    <button class="custom-button" color="warn" mat-mini-fab  aria-label="Example icon button with a plus one icon">
                      <mat-icon (click)= "onDelete(element.profile_id)" >delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>