<div
  class="container mt-20"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="5%"></div>
  <div class="item item-2" fxFlex="5%" fxFlexOrder="3"></div>
  <div class="item item-3" fxFlex></div>
</div>

<div
  class="container mt-20"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="5%"></div>
  <div class="item item-2" fxFlex="5%" fxFlexOrder="3"></div>
  <div class="item item-3" fxFlex>
    <div fxLayout="column" class="fxLayout-custom">
      <div class="mt-10" fxLayout="row" fxLayoutGap="20px" fxFlex>
        <mat-card class="example-card" fxFlex="65">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element">
                   <p *ngIf="status" >{{element.position}}</p>
                   <form class="example-form" *ngIf="isEdit" >
                    <mat-form-field class="example-full-width">
                      <input matInput  value="Sushi">
                    </mat-form-field>
                  </form>
                   </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> 
                  <p *ngIf="status">{{element.name}}</p>
                  <form class="example-form" *ngIf="isEdit" >
                    <mat-form-field class="example-full-width">
                      <input matInput  value="Sushi">
                    </mat-form-field>
                  </form>
                   </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> 
                  <p *ngIf="status">{{element.weight}} </p>
                  <form class="example-form" *ngIf="isEdit" >
                    <mat-form-field class="example-full-width">
                      <input matInput  value="Sushi">
                    </mat-form-field>
                  </form>
                </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element">
                  <p *ngIf="status">  {{element.symbol}}</p>
                  <form class="example-form" *ngIf="isEdit" >
                    <mat-form-field class="example-full-width">
                      <input matInput  value="Sushi">
                    </mat-form-field>
                  </form>
                   </td>
              </ng-container>

              
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <div class="example-button-container" *ngIf="!isEdit">
                    <button class="custom-button" mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                      <mat-icon (click)="onLinkEdit(element.profile_id)"  >edit</mat-icon>
                    </button>
                    <button class="custom-button" color="warn" mat-mini-fab  aria-label="Example icon button with a plus one icon">
                      <mat-icon (click)= "onDelete(element.profile_id)" >delete</mat-icon>
                    </button>
                  </div>
                  <div class="example-button-container"  *ngIf="!status">
                    <button class="custom-button" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon (click)="onLinkEdit(element.profile_id)"  >save</mat-icon>
                    </button>
                    <button class="custom-button" color="default"  mat-mini-fab  aria-label="Example icon button with a plus one icon">
                      <mat-icon (click)= "onDelete(element.profile_id)" >favorite
                      </mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card>
        <mat-card class="example-card" fxFlex="35">
          2
          </mat-card>
      </div>
    </div>
  </div>
</div>


