.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.mat-mini-fab {
    margin-left: 10px;
}
.content {
    margin: auto;
}
.flex-group {
    display: flex;
}
.custom-level{
    margin-left: 10px;
}